<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE EVENT</title>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="limiter">
		<div class="main-container" style="background-image: url('/images/bg-01.jpg');">
			<div class="home-wrap p-l-110 p-r-110 p-t-62 p-b-33">
				<span class="main-form-title p-b-30">
					CREATE EVENT
				</span>

				<div class="event-box m-b-10">
					<form class="main-form flex-sb flex-w" method="POST" action="/organiser/create">
						<div class="event-title p-b-10">
							<label class="txt1">Event Title:</label>
							<input type="text" name="title" placeholder="Enter event title" required>
							<span class="focus-input"></span>
						
							<label class="txt1">Date:</label>
							<input type="date" name="date" placeholder="Enter event date" min="<%= todayDate %>" required>
							<span class="focus-input"></span>
						
							<label class="txt1">Event Description:</label>
							<textarea name="content" placeholder="Content" required></textarea>
							<span class="focus-input"></span>
						</div>
					
						<button type="submit"  class="btn-transparent m-b-15">ADD TICKET</button>
					</form>

					<div class="container-form-btn">
						<form class="main-form" method="GET" action="/organiser/home">
							<button type="submit" class="btn-transparent">
								BACK TO HOME
							</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/vendor/animsition/js/animsition.min.js"></script>
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/select2/select2.min.js"></script>
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
</body>
</html>